Makefile
config.log
config.status
libtool
*.rpm
fdk-aac.pc
libAACdec/src/.deps/
libAACdec/src/.dirstamp
libAACenc/src/.deps/
libAACenc/src/.dirstamp
libFDK/src/.deps/
libFDK/src/.dirstamp
libMpegTPDec/src/.deps/
libMpegTPDec/src/.dirstamp
libMpegTPEnc/src/.deps/
libMpegTPEnc/src/.dirstamp
libPCMutils/src/.deps/
libPCMutils/src/.dirstamp
libSBRdec/src/.deps/
libSBRdec/src/.dirstamp
libSBRenc/src/.deps/
libSBRenc/src/.dirstamp
libSYS/src/.deps/
libSYS/src/.dirstamp

